{% extends 'base.html' %}

{% block title %}
       contact
     {% endblock %}

 {% block content %}

<div class = "mt-5">

<form  method = "POST" action = "" class = "form-group mr-auto ml-auto col-md-6">
{% csrf_token %}
<h3 class = "text-center">Contact Page</h3><br>
<input type = "text" name = "name" class = "form-control" id = "name" placeholder = "Enter your Name"><br>
<input type = "email" name = "email" class = "form-control" id = "emal" autocomplete = "False"  placeholder = "Enter your mail"><br>
<textarea name = "comments" id = "comments" class = "form-control" cols = "30" rows = "10"
placeholder = "Enter your text..."></textarea><br>
<input type = "submit" class = "btn btn-info form-control" value = "submit">
</form>
</div>


{% endblock %}